<h2>Product Edit - {{product.name}} </h2>


<p>Price {{product.price}}</p>

<form (ngSubmit)="saveProduct()" #productForm="ngForm">
  <!-- readable two way binding -->
  Name <input name="name" 
             [(ngModel)]="product.name" 

             required
             minlength="2"

             #pName
             #productName="ngModel"
             
             />


  <p>P Name {{pName.value}}</p>

  <p *ngIf="productName.invalid">
          Product Name is invalid
  </p>

  <pre>
          {{productName.errors | json}}
  </pre>

  <p> Null/undefiend check {{productName.errors?.required}}</p>

  <!-- verbose model, does same two way binding -->
  Price <input name="price"
               type="number"
               [ngModel]="product.price"
               (ngModelChange)="product.price = $event"
        />

   Brand <select name="brandId" [(ngModel)]="product.brandId"  >
              <option [value]="brand.id"
                      *ngFor="let brand of brands$ | async" >
                      {{brand.name}}
              </option>
          </select>

          <button type="submit"  [disabled]="productForm.invalid">Save</button>


          <button type="button" (click)="productForm.resetForm(this.productClone)">
                  Reset
          </button>

</form>