
<h1>Checkout Details</h1>
 
<button (click)="addEmail()">
  Add Email
</button>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <p>
        <label>Full Name:</label>
        <input type="text" formControlName="fullName"  >
    </p>

    <pre>
    {{form.fullName.errors | json}}
  </pre>

  <p *ngIf="form.fullName.dirty && form.fullName.invalid">
    Invalid name
  </p>

    <p>
        <label>State:</label>
        <select   formControlName="state"  >
            <option [value]='state.id' *ngFor="let state of states$ | async">{{state.name}}</option>
        </select>
    </p>



    <p>
        <label>City:</label>
        <select   formControlName="city"  >
            <option [value]='city.id' *ngFor="let city of cities$ | async">
                {{city.name}}</option>
        </select>
    </p>

 
 <p>
        <label>Country</label>
        <input  type="text" formControlName="country">
        IN or India
    </p>

    {{form.country.errors | json}}
        

    <div *ngFor="let email of emails">
      <label>{{email.name}}</label>
      <input  type="text" [formControlName]="email.controlName">
      <button (click)="removeEmail(email)">
        X
      </button>
    </div>
        
    <p>
        <button type="submit" [disabled]="!checkoutForm.valid">Submit</button>
    </p>
</form>